* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;

    --ice: #f4f1de;
    --lavander: #cbbaed;
    --dark-blue: #3d405b;
    --redwood: #ad5d4e;
    --brown: #957964;

}

body {
    background-color: var(--ice);
}

h1 {
    color: var(--dark-blue);
    font-size: 40px;
    padding: 10px 0 0 10px;
}

/*
    Entire library
*/

#library-wrap {
    width: 100vw;
    height: 80vh;
    background-color: var(--redwood);
}

#library {
    width: 90vw;
    height: 80vh;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
}

/*
    Individual book item and its children elements
*/

.book {
    background-color: var(--dark-blue);
    color: var(--ice);

    position: relative;

    flex-grow: 0;
    flex-shrink: 0;

    font-size: 18px;
    width: 350px;
    height: 250px;
    padding: 20px;

    border-radius: 15px;

    margin: 50px 30px 50px 30px;;
}

.book-div-content {
    position: absolute;
    top: -27px;
}

.remove-book-button {
    color: var(--ice);
    background-color: var(--dark-blue);

    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 17px;

    margin: 40px 140px;
}

.remove-book-button:hover {
    cursor: pointer;
}

.book .title {
    font-size: 33px;
    padding: 0 0 35px 0;
    font-weight: bold;
}

/*
    Open form button
*/

#open-form-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;

    font-size: 25px;
    background-color: var(--dark-blue);
    color: var(--ice);
    padding-top: 5px;

    position: absolute;
    bottom: 10px;
    right: 10px;
}

#open-form-button:hover {
    cursor: pointer;
}

/*
    Form div
*/

#form-div {
    background-color: tomato;

    width: 400px;
    height: 600px;
    padding: 20px;

    position: absolute;
    top: calc((100vh / 2) - 300px);
    left: calc((100vw / 2) - 200px);
}

#form-div.false {
    display: none;
}

#form-div.true {
    display: block;
}

#close-form-button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#close-form-button:hover {
    cursor: pointer;
}