* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;

    --ice: #f4f1de;
    --lavander: #cbbaed;
    --dark-blue: #3d405b;
    --redwood: #ad5d4e;
    --brown: #957964;

}

body {
    background-color: var(--ice);
}

h1 {
    color: var(--dark-blue);
    font-size: 40px;
    padding: 10px 0 0 10px;
}

/*
    Entire library
*/

#library-wrap {
    width: 100vw;
    height: 85vh;
    background-color: #4e4d5c;
}

.blur {
    opacity: 0.6;
}

#slider {
    width: 90vw;
    height: 80vh;

    margin: auto;
    overflow: hidden;
}

#library {
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;

    transition: 0.5s ease-in-out;
}

.control-slider { 
    height: 60px;
    width: 60px;
    font-size: 50px;

    padding-bottom: 1px;

    background-color: var(--ice);
    color: var(--dark-blue);

    border: none;
    border-radius: 50%;
    text-align: center;

    position: absolute;
}

.control-slider.right {
    top: calc((100vh / 2) - 50px);
    right: 15px;
}

.control-slider.left {
    top: calc((100vh / 2) - 50px);
    left: 15px;
}

.control-slider:hover { 
    cursor: pointer;
}

/*
    Individual book item and its children elements
*/

.book {
    background-color: var(--dark-blue);
    color: var(--ice);

    box-shadow: 2px 2px var(--ice);

    position: relative;

    flex-grow: 0;
    flex-shrink: 0;

    font-size: 18px;
    width: 350px;
    height: 250px;
    padding: 20px;

    border-radius: 15px;

    margin: 80px 32px 50px 32px;
}

.book-div-content {
    position: absolute;
    top: -27px;
}

.remove-book-button {
    color: var(--ice);
    background-color: var(--dark-blue);

    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 17px;

    margin: 40px 140px;
}

.remove-book-button:hover {
    cursor: pointer;
}

.book .title {
    font-size: 33px;
    padding: 0 0 35px 0;
    font-weight: bold;
}

/*
    Open form button
*/

#open-form-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;

    font-size: 25px;
    background-color: var(--ice);
    color: var(--dark-blue);
    padding-top: 5px;

    position: absolute;
    bottom: 100px;
    left: calc((100vw / 2) - 25px);
    transition: all 0.2s ease;
}

#open-form-button:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

/*
    Form div
*/

#form-div {
    background-color: var(--ice);

    width: 400px;
    height: 500px;
    padding: 20px;

    border-radius: 15px;

    position: absolute;
    top: calc((100vh / 2) - 300px);
    left: calc((100vw / 2) - 200px);
}

#form-div.false {
    display: none;
}

#form-div.true {
    display: block;
}


#form-div .textLabel {
    padding-right: 70px;
}

#form-div .textInput {
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
    margin-bottom: 10px;

    width: 100%;
    height: 30px;
}

#form-div .warning {
    font-size: 12px;
    color: var(--redwood);

    width: 100%;
    height: 20px;
    text-align: center;
}

#form-div #read-status-label {
    margin-right: 5px;
}

#form-div #read-status-input {
    height: 20px;
    width: 20px;
    margin-right: 250px;
}

#form-div #submit-form-button {
    border: none;
    background-color: var(--dark-blue);
    color:var(--ice);
    font-size: 20px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 120px;
}

#form-div #submit-form-button:hover {
    cursor: pointer;
    background-color: #4e4d5c;
}

#close-form-button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    margin: 0 0 30px 330px;

    background-color: var(--dark-blue);
    color: var(--ice);
}

#close-form-button:hover {
    cursor: pointer;
    background-color: #4e4d5c;
}

footer {
    text-align: center;
    padding-top: 40px;
}

footer .bx {
    color: var(--redwood);
}